ion-toolbar {
  --background: #43536d;
}

ion-searchbar .searchbar-input-container {
  --background: white;
}

.bottom-slider .swiper-pagination {
  bottom: -2.5vh; /* May requirement modification based on platform */
}

.top-slider .swiper-pagination {
  bottom: 0;
}
