.blue-toolbar {
  --background: var(--ion-color-blue);
}

.bottom-slider .swiper-pagination {
  bottom: -2.5vh; /* May requirement modification based on platform */
}

.top-slider .swiper-pagination {
  bottom: 0;
}
